{% extends 'staffindex.html' %}
{% block content %}
<form method="post" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <style>
        .table-container {
        height: 300px; /* Set the height of the container */
        }
        table {
            border-collapse: collapse;
            table-layout: auto;
            width: 100%;
        }
        thead {
            position: sticky;
            top: 0;
            background-color: #f0f0f0;
        }
        tfoot {
            position: sticky;
            bottom: 0;
            background-color: #f0f0f0;

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <ul class="breadcrumbs mb-3">
                    <li class="nav-home"></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="fw-bold mb-3">Month Update</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="month"><b>Month <span style="color: red;">*</span></b></label>
                                    <select class="form-control" name="month" id="month" required>
                                        <option value="">Select Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="year"><b>Year <span style="color: red;">*</span></b></label>
                                    <select class="form-control" name="year" id="year" required>
                                        <option value="">Select Year</option>
                                        {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <button type="submit" name="ser1" class="btn btn-primary">
                                Search &nbsp;
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}