{% extends 'adminindex.html' %}

{% block content %}
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="page-inner">
                    <div class="page-header">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home"></li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="fw-bold mb-3">Batta History</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Batta Date</th>
                                                <th>Created By</th>
                                                <th>Created At</th>
                                                <th>Updated By</th>
                                                <th>History date</th>
                                                <th>Last Updated</th>
                                                <th>Deleted By</th>
                                                <th>Batta</th>
                                                <th>Lift</th>
                                                <th>Print</th>
                                                <th>Other Expense</th>
                                                <th>WEI</th>
                                                <th>Halt</th>
                                                <th>Park</th>
                                                <th>RTO</th>
                                                <th>Adv</th>
                                                <th>Loan</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in history %}
                                                <tr>
                                                    <td>{{ record.date }}</td>
                                                    <td>{{ record.created_by }}</td>
                                                    <td>{{ record.created_at }}</td>
                                                    <td>{{ record.updated_by }}</td>
                                                    <td>{{ record.history_date }}</td>
                                                    <td>{{ record.updated_at }}</td>
                                                    <td>{{ record.deleted_by }}</td>
                                                    <td>{{ record.batta }}</td>
                                                    <td>{{ record.lift }}</td>
                                                    <td>{{ record.print }}</td>
                                                    <td>{{ record.othexp }}</td>
                                                    <td>{{ record.wei }}</td>
                                                    <td>{{ record.halt }}</td>
                                                    <td>{{ record.park }}</td>
                                                    <td>{{ record.rto }}</td>
                                                    <td>{{ record.adv }}</td>
                                                    <td>{{ record.loan }}</td>
                                                    <td>{{ record.total }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
