{% extends 'adminindex.html' %}

{% block content %}
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <style>
                .table-container {
                    height: 300px; /* Set the height of the container */
                }
                table {
                    border-collapse: collapse;
                    width: 100%;
                }
                thead {
                    position: sticky;
                    top: 0;
                    background-color: #f0f0f0;
                }
                tfoot {
                    position: sticky;
                    bottom: 0;
                    background-color: #f0f0f0;
                }
                th, td {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: left;
                }
            </style>
            <div class="container">
                <div class="page-inner">
                    <div class="page-header">
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home"></li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="fw-bold mb-3">Trip History</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive" style="height: 600px; overflow-y: auto;">
                                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Trip Date</th>
                                                <th>Created By</th>
                                                <th>Created At</th>
                                                <th>Updated By</th>
                                                <th>History date</th>
                                                <th>Last Updated</th>
                                                <th>Deleted By</th>
                                                <th>Hire</th>
                                                <th>Halt</th>
                                                <th>Diesel</th>
                                                <th>Dis Qnt</th>
                                                <th>Party</th>
                                                <th>Place</th>
                                                <th>Type</th>
                                                <th>Batta Total</th>
                                                <th>Expense Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in history %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{ record.dat }}</td>
                                                    <td>{{ record.created_by }}</td>
                                                    <td>{{ record.created_at }}</td>
                                                    <td>{{ record.updated_by }}</td>
                                                    <td>{{ record.history_date }}</td>
                                                    <td>{{ record.updated_at }}</td>
                                                    <td>{{ record.deleted_by }}</td>
                                                    <td>{{ record.hire }}</td>
                                                    <td>{{ record.halt }}</td>
                                                    <td>{{ record.dis }}</td>
                                                    <td>{{ record.disqnt }}</td>
                                                    <td>{{ record.party }}</td>
                                                    <td>{{ record.place }}</td>
                                                    <td>{{ record.trip }}</td>
                                                    <td>{{ record.amount }}</td>
                                                    <td>{{ record.exptotal }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
