{% extends 'adminindex.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <style>
        .table-container {
        height: 300px; /* Set the height of the container */
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        thead {
            position: sticky;
            top: 0;
            background-color: #f0f0f0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
    <div class="container">
      <div class="page-inner">
        <div class="page-header">
          <ul class="breadcrumbs mb-3">
            <li class="nav-home"></li>
            <li class="separator"><i class="icon-arrow-right"></i></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="fw-bold mb-3">Expense History</h3>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="frdate"><b>Date From</b></label>
                    <input type="date" class="form-control" name="frdate" id="frdate" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="todate"><b>Date To</b></label>
                    <input type="date" class="form-control" name="todate" id="todate" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="code"><b>Truck No</b></label>
                    <select class="form-control" name="code" id="code" >
                        <option>--------------------Select-------------------</option>
                        {% for code in code %}
                        <option>{{code}}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
                <div class="card-action">
                  <button type="submit" name="ser1" class="btn btn-primary">
                    Search &nbsp;
                    <i class="fa fa-search"></i>
                  </button>
                </div>

              {% if expenses %}
              <div class="card-header">
                <h3 class="fw-bold mb-3">Expense Details</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: 500px; overflow-y: auto;">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Truck No</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in expenses %}
                      <tr>
                        <td>
                            <a href="{% url 'expenseorderhistory' data.id %}">
                                <button type="button" class="btn btn-primary">History</button>
                            </a>
                        </td>
                        <td>{{ data.date }}</td>
                        <td>{{ data.code }}</td>
                        <td>{{ data.total}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {% endif %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}