{% extends 'staffindex.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="container">
      <div class="page-inner">
        <div class="page-header">
          <ul class="breadcrumbs mb-3">
            <li class="nav-home"></li>
            <li class="separator"><i class="icon-arrow-right"></i></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="fw-bold mb-3">Update Expense</h3>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="code"><b>Truck No</b></label>
                    <input type="text" readonly class="form-control" value="{{code.code}}" name="code" id="code" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="date"><b>Date</b></label>
                    <input type="text" readonly class="form-control" value="{{code.date}}" name="date" id="date" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="roro"><b>Roro</b></label>
                    <input type="number" class="form-control" value="{{code.roro}}" name="roro" id="roro">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="adblue"><b>Adblue</b></label>
                    <input type="number" class="form-control" name="adblue" value="{{code.adblue}}" id="adblue">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="oil"><b>Oil</b></label>
                    <input type="number" class="form-control" value="{{code.oil}}" name="oil" id="oil">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="insur"><b>Insurance</b></label>
                    <input type="number" class="form-control" name="insur" value="{{code.insur}}" id="insur">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="tax"><b>Tax</b></label>
                    <input type="number" class="form-control" value="{{code.tax}}" name="tax" id="tax">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="othexp"><b>Other Expense</b></label>
                    <input type="number" class="form-control" name="othexp" value="{{code.othexp}}" id="othexp">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="test"><b>Test Work</b></label>
                    <input type="number" class="form-control" value="{{code.test}}" name="test" id="test">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="work"><b>New Battery</b></label>
                    <input type="number" class="form-control" name="work" value="{{code.work}}" id="work">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="spare"><b>Spare Rate</b></label>
                    <input type="number" class="form-control" value="{{code.spare}}" name="spare" id="spare">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="workshop"><b>Workshop</b></label>
                    <input type="text" class="form-control" name="workshop" id="workshop" value="{{code.workshop}}">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="rethread"><b>Rethread</b></label>
                    <input type="number" class="form-control" value="{{code.rethread}}" name="rethread" id="rethread">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="tyre"><b>New Tyre</b></label>
                    <input type="number" class="form-control" name="tyre" value="{{code.tyre}}" id="tyre">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="toll"><b>Toll</b></label>
                    <input type="number" class="form-control" value="{{code.toll}}" name="toll" id="toll">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="tyrework"><b>Tyre Work</b></label>
                    <input type="number" class="form-control" value="{{code.tyrework}}" name="tyrework" id="tyrework">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="taxk"><b>Tax Karnataka</b></label>
                    <input type="number" class="form-control" value="{{code.taxk}}" name="taxk" id="taxk">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="taxtn"><b>Tax Tamil Nadu</b></label>
                    <input type="number" class="form-control" name="taxtn" value="{{code.taxtn}}" id="taxtn">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="welfare"><b>Welfare</b></label>
                    <input type="number" class="form-control" value="{{code.welfare}}" name="welfare" id="welfare">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="rtofine"><b>Rto Fine</b></label>
                    <input type="number" class="form-control" value="{{code.rtofine}}" name="rtofine" id="rtofine">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="remarkid"><b>Remark Type</b></label>
                    <select class="form-control" name="remarkid" id="remarkid">
                      <option>{{code.remarkid}}</option>
                      <option>RORO</option>
                      <option>Adblue</option>
                      <option>Oil</option>
                      <option>Insurance</option>
                      <option>Tax</option>
                      <option>Other Expense</option>
                      <option>Test Work</option>
                      <option>New Battery</option>
                      <option>Spare Rate</option>
                      <option>Rethread</option>
                      <option>New Tyre</option>
                      <option>Toll</option>
                      <option>Tyre Work</option>
                      <option>Tax KA</option>
                      <option>Tax TN</option>
                      <option>RTO Fine</option>
                      <option>Welfare</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="remark"><b>Remark</b></label>
                    <input type="text" class="form-control" value="{{code.remark}}" name="remark" id="remark">
                  </div>
                </div>
              </div>

                <div class="card-action">
                  <button type="submit" name="ser1" class="btn btn-success">Update</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}