{% extends 'staffindex.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
              <ul class="breadcrumbs mb-3">
                <li class="nav-home"></li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                      <h3 class="fw-bold mb-3">Enter Details</h3>
                  </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="bno"><b>Bill No</b></label>
                                    <input type="number" readonly class="form-control" value="{{bno}}" name="bno" id="bno"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="bdate"><b>Bill Date</b></label>
                                    <input type="text" class="form-control" value="{{bdate|date:'d-m-Y'}}" name="bdate" id="bdate" readonly/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cont"><b>Container  <span style="color: red;">*</span></b></label>
                                    <input type="text" value="{% for i in cont %}{{ i }}{% if not forloop.last %},{% endif %}{% endfor %}" class="form-control" name="cont" id="cont" required/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="diesel"><b>Diesel Advance  <span style="color: red;">*</span></b></label>
                                    <input type="number" class="form-control" value="{{dis}}" name="diesel" id="diesel" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="hire"><b>Hire  <span style="color: red;">*</span></b></label>
                                    <input type="number" class="form-control"  value="{{hire}}" name="hire" id="hire" required/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="hireqnt"><b>Hire Qnt  <span style="color: red;">*</span></b></b></label>
                                    <input type="number" class="form-control" value="{{hireqnt}}" name="hireqnt" id="hireqnt" required/>
                                </div>
                            </div>
                            <div class="col-md-3">
                            <div class="form-group">
                                <label for="halt"><b>Halting</b></label>
                                <input type="number" class="form-control" value="{{halt}}" name="halt" id="halt" required/>
                            </div>
                          </div>
                          <div class="col-md-3">
                                <div class="form-group">
                                    <label for="haltqnt"><b>Halt Qnt</b></label>
                                    <input type="number" class="form-control" name="haltqnt" id="haltqnt" value="{{haltqnt}}" required/>
                                </div>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="weigh"><b>Weighment</b></label>
                                    <input type="number" class="form-control"  name="weigh" id="weigh"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="weighqnt"><b>Weighment Qnt</b></label>
                                    <input type="number" class="form-control" name="weighqnt" id="weighqnt"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="unload"><b>Unloading Charges</b></label>
                                    <input type="number" class="form-control" name="unload" id="unload"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="unloadqnt"><b>Unload Qnt</b></label>
                                    <input type="number" class="form-control" name="unloadqnt" id="unloadqnt"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="toll"><b>Toll</b></label>
                                    <input type="number" class="form-control" name="toll" id="toll"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="tollqnt"><b>Toll Qnt</b></label>
                                    <input type="number" class="form-control" name="tollqnt" id="tollqnt"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                            <div class="form-group">
                                <label for="enblock"><b>Enblock Charges</b></label>
                                <input type="number" class="form-control" name="enblock" id="enblock"/>
                            </div>
                          </div>
                          <div class="col-md-3">
                                <div class="form-group">
                                    <label for="enblockqnt"><b>Enblock Qnt</b></label>
                                    <input type="number" class="form-control" name="enblockqnt" id="enblockqnt"/>
                                </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                                <label for="shift"><b>Shifting</b></label>
                                <input type="number" class="form-control" name="shift" id="shift"/>
                            </div>
                          </div>
                          <div class="col-md-3">
                                <div class="form-group">
                                    <label for="shiftqnt"><b>Shift Qnt</b></label>
                                    <input type="number" class="form-control" name="shiftqnt" id="shiftqnt"/>
                                </div>
                          </div>
                      </div>
                        <div class="card-action">
                            <button type="submit" name="down" target="_blank" class="btn btn-success">Download Bill</button>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
