{% extends 'adminindex.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <style>
        .table-container {
        height: 300px; /* Set the height of the container */
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        thead {
            position: sticky;
            top: 0;
            background-color: #f0f0f0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <ul class="breadcrumbs mb-3">
                    <li class="nav-home"></li>
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="fw-bold mb-3">Available Vehicle</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="height: 600px; overflow-y: auto;">
                                <table class=" table table-striped ">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Date</th>
                                            <th>Truck No</th>
                                            <th>Feet</th>
                                            <th>Driver</th>
                                            <th>Trans</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if trucks %}
                                            {% for trucks in trucks %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{trucks.dat}}</td>
                                                    <td>{{ trucks.code.code }}</td>
                                                    <td>{{ trucks.code.feet }}</td>
                                                    <td>{{ trucks.driver }}</td>
                                                    <td>{{ trucks.code.trans }}</td>
                                                    <td>{{trucks.place}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="8" style="text-align: center;">No trucks available.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}