{% extends 'adminindex.html' %}
{% block content %}
{% load static %}
<style>
  .dashboard-background {
    background-image: url('{% static 'img/tholadan/logoisa.png' %}');
    background-size: cover;
    height: 80vh;
  }
</style>
<div class="container dashboard-background">
  <div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
      <div>
        <h2 class="fw-bold mb-3">Dashboard</h2>
        <h5 class="op-7 mb-2">Welcome {{ username|title }}!!!!</h5>
      </div>
    </div>
  </div>
</div>

{% endblock %}