{% extends 'staffindex.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
              <ul class="breadcrumbs mb-3">
                <li class="nav-home"></li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
              </ul>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header"></div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 col-lg-4">
                          <h3 class="fw-bold mb-3">Batta</h3>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="code"><b>Truck No</b></label>
                                <input type="text" readonly value="{{trip.code}}" class="form-control" name="code"id="code">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="date"><b>Date</b></label>
                                <input type="text" readonly value="{{trip.dat|date:'Y-m-d'}}" class="form-control" name="date"id="date">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="party"><b>Party</b></label>
                                <input type="text" class="form-control" name="place" id="party" value="{{trip.party}}" readonly/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="place"><b>Place</b></label>
                                <input type="text" class="form-control" name="place" id="place" value="{{trip.place}}" readonly/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="cont"><b>Container No</b></label>
                                <input type="text" class="form-control" name="cont" id="cont" value="{{trip.cont}}"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="driver"><b>Driver</b></label>
                                <select class="form-control" name="driver"id="driver">
                                    <option>{{trip.driver}}</option>
                                    {% for driver in driver %}
                                    <option >{{driver.driver}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="sheetno"><b>Tripsheet No </b></label>
                                <input type="number" class="form-control" name="sheetno" id="sheetno"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="batta"><b>Batta  <span style="color: red;">*</span></b></label>
                                <input type="number" value="{{trip.batta}}" class="form-control" name="batta" id="batta" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="addbatta"><b>Additional Batta</b></label>
                                <input type="number" class="form-control" name="addbatta"id="addbatta">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="genbatta"><b>Genzet Batta </b></label>
                                <input type="number" class="form-control" name="genbatta" id="genbatta">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="opkm"><b>Opening KM</b></label>
                                <input type="number" class="form-control" name="opkm" id="opkm"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="clkm"><b>Closing KM</b></label>
                                <input type="number" class="form-control" name="clkm" id="clkm"/>
                            </div>
                        </div>
                    </div>

                      <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="lift"><b>Lift</b></label>
                                <input type="number" class="form-control" name="lift"id="lift">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="print"><b>Print</b></label>
                                <input type="number" class="form-control" name="print" id="print">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="othexp"><b>Other Expenses </b></label>
                                <input type="number" class="form-control" name="othexp" id="othexp">
                            </div>
                        </div>
                          <div class="col-md-2">
                            <div class="form-group" >
                                <label for="tyrework"><b>Tyre Work</b></label>
                                <input type="number" class="form-control"  name="tyrework" id="tyrework">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="wei"><b>WEI</b></label>
                                <input type="number" class="form-control" name="wei" id="wei">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="halt"><b>Halt</b></label>
                                <input type="number" class="form-control" name="halt" id="halt">
                            </div>
                        </div>

                      </div>

                      <div class="row">
                          <div class="col-md-2">
                            <div class="form-group" >
                                <label for="park"><b>Park</b></label>
                                <input type="number" class="form-control"  name="park" id="park">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="rto"><b>RTO</b></label>
                                <input type="number" class="form-control" name="rto" id="rto">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="adv"><b>Advance</b></label>
                                <input type="number" class="form-control"  name="adv" id="adv">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="loan"><b>Loan</b></label>
                                <input type="number" class="form-control" name="loan" id="loan" >
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <label for="battadate"><b>Batta Date</b></label>
                                <input type="text" value="{{today}}" class="form-control" name="battadate" id="battadate" readonly>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-md-4">
                            <div class="form-group" >
                                <label for="remarkid"><b>Remark Type</b></label>
                                <select class="form-control"  name="remarkid" id="remarkid">
                                    <option value="">------------------Select------------------</option>
                                    <option value="batta">Batta</option>
                                    <option value="addbatta">Additional Batta</option>
                                    <option value="genbatta">Genzet Batta</option>
                                    <option value="lift">Lift</option>
                                    <option value="print">Print</option>
                                    <option value="othexp">Other Expense</option>
                                    <option value="wei">Weighment</option>
                                    <option value="halt">Halt</option>
                                    <option value="park">Parking</option>
                                    <option value="adv">Advance</option>
                                    <option value="loan">Loan</option>
                                    <option value="tyrework">Tyre Work</option>
                                    <option value="rto">RTO</option>
                                </select>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="form-group" >
                                <label for="remark"><b>Remark</b></label>
                                <input type="text" class="form-control"  name="remark" id="remark">
                            </div>
                        </div>
                      </div>

                      <div class="card-action">
                            <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" >
                                    <button type="submit" name="bill" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" >
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $('form').submit(function(event) {
            var remark = $('#remark').val();
            var remarkid = $('#remarkid').val();
            if (remark != '' && (remarkid == '' || remarkid == '------------------Select------------------')) {
                alert('Please select a remark type');
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}