{% extends 'index.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
              <ul class="breadcrumbs mb-3">
                <li class="nav-home"></li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header"></div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 col-lg-4">
                          <h3 class="fw-bold mb-3">Trip View</h3>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Code</th>
                            <th>Date</th>
                            <th>Party</th>
                            <th>Place</th>
                            <th>Trip</th>
                            <th>Hire</th>
                            <th>Hire Qnt</th>
                            <th>Toll</th>
                            <th>Toll Qnt</th>
                            <th>Place</th>
                            <th>Trip</th>
                            <th>Hire</th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}